<div style="min-height: 100%;">
  <nav class="navbar navbar-expand navbar-light" style="background-color: #f7f7f7;">
    <a href="#" class="navbar-brand" style="color: #333;">Test DDS</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="cursos" class="nav-link" style="color: #555;">Cursos |</a>
      </li>
      <li class="nav-item">
        <a routerLink="add" class="nav-link" style="color: #555;">Agregar curso |</a>
      </li>
      <li class="nav-item">
        <a routerLink="docentes" class="nav-link" style="color: #555;">Docentes |</a>
      </li>
      <li class="nav-item">
        <a routerLink="temas" class="nav-link" style="color: #555;">Temas  |</a>
      </li>
    </div>
  </nav>
  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>
